.auth-container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1073%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1074)'%3e%3c/rect%3e%3cpath d='M786.5 1187.46C1008.71 1147.77 1121.58 594.81 1466.92 593.93 1812.26 593.05 1955.6 939.76 2147.34 950.33' stroke='rgba(168%2c 127%2c 185%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1092.41 1159.68C1261.84 1029.77 1170.42 389.55 1453.77 385.89 1737.12 382.23 1965.29 811.55 2176.49 828.69' stroke='rgba(168%2c 127%2c 185%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M404.67 1152.37C668.41 1108.42 741.55 503.9 1222.13 462.75 1702.72 421.6 1818.85 134.35 2039.6 127.95' stroke='rgba(168%2c 127%2c 185%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M577 1232.95C770.29 1154.16 695.36 558.8 1068.59 558.09 1441.82 557.38 1782.38 990.83 2051.77 1000.89' stroke='rgba(168%2c 127%2c 185%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M494.83 1163.16C655.71 1142.86 564.19 809.72 1015.87 776.85 1467.55 743.98 1766.15 262.52 2057.96 247.65' stroke='rgba(168%2c 127%2c 185%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1073'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='11.36%25' y1='-20.83%25' x2='88.64%25' y2='120.83%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1074'%3e%3cstop stop-color='rgba(168%2c 127%2c 185%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(167%2c 228%2c 220%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  /* height: 100vh;
  width: 100%; */
}

.example-card {
  max-width: 300px;
}

.icon-left {
  position: absolute;
  display: flex;
  padding: 1rem 0.7rem;
}

::ng-deep p-password, ::ng-deep input.p-inputtext.p-component.p-element.p-password-input{
  width: 100%;
}

::ng-deep .p-input-icon-right > i:last-of-type {
  position: absolute;
  top: 25%;
  right: 0;
  transform: translate(-70%, 25%);
}
