<div class="w-100 d-flex justify-content-end absolute">
  <div>
    <button pButton pRipple icon="pi pi-user" type="button" label="Ingresar" (click)="view('login')"
      class="w-auto btn fw-bold mt-2 p-button-outlined p-button-primary me-2"></button>
    <button pButton pRipple icon="pi pi-user-plus" type="button" label="Registrar" (click)="view('register')"
      class="w-auto btn fw-bold mt-2 p-button-outlined p-button-primary me-2"></button>
  </div>
</div>

<div class="auth-container d-flex justify-content-center align-items-center w-100 min-vh-100">

  <div *ngIf="viewValue == 'login'">
    <p-card header="Ingresar" (keyup.enter)="login()" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
      <ng-template pTemplate="header">
        <img class="px-3 py-1" alt="Card" src="../../../assets/learnerize-logo.png">
      </ng-template>

      <div class="d-flex flex-column">
        <div class="p-input-icon-left relative">
          <div class="icon-left">
            <i class="pi pi-envelope"></i>
          </div>
          <input class="p-inputtext-sm w-100" type="text" pInputText placeholder="Correo" [(ngModel)]="user.email" />
        </div>

        <div class="p-input-icon-left relative mt-2">
          <div class="icon-left">
            <i class="pi pi-lock"></i>
          </div>
          <input class="p-inputtext-sm w-100" type="password" pInputText placeholder="Constraseña"
            [(ngModel)]="user.password" />
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button pButton pRipple (click)="login()" type="button" [disabled]="user.password == ''" label="Ingresar"
          class="w-100 btn-sm"></button>
        <button pButton pRipple (click)="googleLogin()" type="button" label="Ingresar con Google"
          class="w-100 btn-sm mt-2 p-button-outlined p-button-info"></button>
        <div class="d-flex justify-content-evenly">
        </div>
      </ng-template>
    </p-card>
  </div>

  <div *ngIf="viewValue == 'register'">
    <p-card header="Registro" (keyup.enter)="login()" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
      <ng-template pTemplate="header">
        <img class="px-3 py-1" alt="Card" src="../../../assets/learnerize-logo.png">
      </ng-template>

      <div class="d-flex flex-column">
        <div class="p-input-icon-left relative">
          <div class="icon-left">
            <i class="pi pi-envelope"></i>
          </div>
          <input class="p-inputtext-sm w-100" type="text" pInputText placeholder="Correo" [(ngModel)]="user.email" />
        </div>

        <!-- <div class="p-input-icon-left relative mt-2">
          <div class="icon-left">
            <i class="pi pi-lock"></i>
          </div>
          <input class="p-inputtext-sm w-100" type="password" pInputText placeholder="Constraseña"
            [(ngModel)]="user.password" />
        </div>

        <div class="p-input-icon-left relative mt-2">
          <div class="icon-left">
            <i class="pi pi-lock"></i>
          </div>
          <input class="p-inputtext-sm w-100" type="password" pInputText [(ngModel)]="passwordValue" (ngModelChange)="verifyPassword()"
            placeholder="Verificar contraseña" />
        </div> -->

        <div class="relative mt-2 d-flex flex-column">
          <p-password [(ngModel)]="user.password" styleClass="w-100 p-inputtext-sm mb-2" placeholder="Contraseña"
            [toggleMask]="true" weakLabel="Débil" promptLabel="Ingrese una contraseña" mediumLabel="Mediana"
            strongLabel="Fuerte"></p-password>
          <p-password [(ngModel)]="passwordValue" [toggleMask]="true" [feedback]="false"
            promptLabel="Ingrese la misma contraseña" styleClass="w-100 p-inputtext-sm"
            placeholder="Verificar contraseña" (ngModelChange)="verifyPassword()"></p-password>
        </div>

        <span *ngIf="!samePass" class="fw-bold mt-2">Las constraseñas deben ser iguales</span>

      </div>

      <ng-template pTemplate="footer">
        <button pButton pRipple (click)="register()" type="button" [disabled]="passwordValue == ''" label="Ingresar"
          class="w-100 btn-sm"></button>
        <button pButton pRipple (click)="googleLogin()" type="button" label="Ingresar con Google"
          class="w-100 btn-sm mt-2 p-button-outlined p-button-info"></button>
        <div class="d-flex justify-content-evenly">
        </div>
      </ng-template>
    </p-card>
  </div>
</div>