<div [ngClass]="{'course-banner-1': bg == 1, 'course-banner-2': bg == 2, 'course-banner-3': bg == 3}">
  <div class="container d-flex h-100">

    <!-- Skeleton -->
    <div *ngIf="loading" class="h-auto d-flex w-100 justify-content-center align-items-center flex-wrap p-3">
      <div>
        <p-skeleton width="20rem" height="18rem"></p-skeleton>
      </div>

      <div class="bg-white rounded shadow p-3 h-auto w-auto ms-2">
        <div class="d-flex flex-column">
          <p-skeleton width="25rem" height="1.5rem" styleClass="mb-4"></p-skeleton>
          <p-skeleton width="50%" styleClass="mb-4"></p-skeleton>
          <div class="d-flex flex-column">
            <p-skeleton width="12rem" styleClass="mb-4"></p-skeleton>
            <p-skeleton width="8rem" styleClass="mb-4"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-4"></p-skeleton>
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex">
              <p-skeleton width="2rem" styleClass="mb-4"></p-skeleton>
              <div class="d-flex">
                <p-skeleton width="1rem" styleClass="ms-1"></p-skeleton>
                <p-skeleton width="1rem" styleClass="ms-1"></p-skeleton>
                <p-skeleton width="1rem" styleClass="ms-1"></p-skeleton>
                <p-skeleton width="1rem" styleClass="ms-1"></p-skeleton>
                <p-skeleton width="1rem" styleClass="ms-1"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!loading" class="h-auto d-flex w-100 justify-content-center align-items-center flex-wrap p-3">

      <!-- Course Img -->
      <div class="col-md-4 col-sm-12 d-flex align-items-center">
        <div *ngIf="course.photoURL == ''" class="m-auto">
          <img class="img-placeholder rounded shadow m-auto" src="../../../assets/video-placeholder.png"
            alt="Portada del curso">
        </div>
        <div *ngIf="course.photoURL != ''">
          <img class="course-img rounded shadow m-auto" [src]="course.photoURL" alt="Portada del curso">
        </div>
      </div>
      <!-- Course Details -->
      <div class="col-md-7 col-sm-12 course-details bg-white rounded shadow p-3">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between flex-wrap">
            <h3>{{course?.name}}</h3>
            <span *ngIf="!boughtCourse" class="course-price text-accent fs-2">{{course?.price}}$</span>
          </div>
          <p class="mt-2 course-description">{{course?.description}}</p>
          <div class="d-flex align-items-center">
            <div class="d-flex flex-wrap align-items-center me-4">
              <div class="d-flex flex-wrap align-items-center">
                <span class="me-1 fw-bold fs-4">{{course?.rating}}</span>
                <p-rating [(ngModel)]="course.rating" [readonly]="true" [cancel]="false"></p-rating>
              </div>

              <i class="fw-bold ms-3">Por {{course?.author | titlecase}}</i>
              <i class="ms-2">{{course?.authorEmail}}</i>
            </div>
          </div>

          <button *ngIf="!boughtCourse" pButton type="button" label="Comprar Curso" class="mt-2"
            (click)="showDialog(course?.price)"></button>

          <div *ngIf="boughtCourse" class="d-flex flex-column w-100 h-auto">
            <button pButton type="button" label="Has adquirido este curso" [disabled]="true" class="p-button-text mb-2"></button>
            <button pButton type="button" label="Hablar con el profesor" (click)="message=true" class="p-button-outlined mb-2"></button>
            <button *ngIf="course.hasTest" pButton type="button" label="Hacer test" (click)="showTest()"class="p-button-secondary"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray py-5 course-lessons">
    <div *ngIf="boughtCourse" class="container d-flex lessons">

      <div *ngIf="lessonURL == ''" class="placeholder-img relative overflow-hidden">
        <img src="../../../../assets/isologo.png" alt="Logo de Learnerize">
        <h3 class="fw-bold fs-4">Elija una lección para ver</h3>
      </div>

      <div *ngIf="lessonURL != ''" class="video-player w-100 rounded overflow-hidden shadow">
        <iframe width="100%" height="768px" [src]="lessonURL" title="Leccion LMS" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="lesson-container p-3 rounded shadow bg-white">
        <h3 class="fw-bold fs-4 mb-3">Lecciones</h3>
        <div>
          <div *ngFor="let lesson of course?.lessons" class="d-flex flex-column">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <span class="lesson-title">
                  {{lesson.name}}
                </span>
                <div>
                  <button pButton pRipple type="button" icon="pi pi-step-forward"
                  class="p-button-rounded p-button-outlined ms-2" (click)="getLesson(lesson.url)"></button>
                </div>
              </div>
              <div *ngIf="lesson.lessonURL != '' ">
                <a [href]="lesson.lessonURL">
                  Archivo de la lección
                </a>
              </div>
            </div>
            <p-divider type="dashed"></p-divider>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Payment Dialog -->
<p-dialog header="Adquirir un curso" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: 'auto'}" [modal]="true">
  <div class="mb-3" style="max-width: 300px;">
    <span class="acquire-course">Adquirir {{course?.name}} por {{course?.price}}$</span>
  </div>
  <div id="myPaypalButtons"></div>

  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cerrar" (click)="display = false"></button>
  </ng-template>
</p-dialog>

<!-- Test Dialog -->
<p-dialog header="Hacer el test" [(visible)]="test" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: 'auto'}" [modal]="true">

  <div *ngIf="!loading && course.hastTest">
    <iframe [src]="testLink" width="640" height="1225" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
  </div>

  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cerrar" (click)="display = false"></button>
  </ng-template>
</p-dialog>

<!-- Message Dialog -->
<p-dialog header="Enviar mensaje a {{course?.author}}" [(visible)]="message" [modal]="true"
  [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">

  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">

    <!-- <div class="input-group d-flex justify-content-between flex-wrap">
      <div class="d-flex flex-column mt-3">
        <h5>Nombre del autor</h5>
        <div class="p-inputgroup d-flex w-100">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" formControlName="authorName" pInputText [disabled]="true">
        </div>
      </div>

      <div class="d-flex flex-column mt-3">
        <h5>Correo del autor</h5>
        <div class="p-inputgroup d-flex w-100">
          <span class="p-inputgroup-addon"><i class="pi pi-file"></i></span>
          <input type="text" formControlName="authorEmail" pInputText [disabled]="true">
        </div>
      </div>
    </div> -->

    <div class="input-group d-flex justify-content-between flex-wrap">
      <div class="d-flex flex-column mt-3">
        <h5>Tu nombre</h5>
        <div class="p-inputgroup d-flex w-100">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" formControlName="senderName" pInputText placeholder="John Doe">
        </div>
      </div>

      <div class="d-flex flex-column mt-3">
        <h5>Tu correo</h5>
        <div class="p-inputgroup d-flex w-100">
          <span class="p-inputgroup-addon"><i class="pi pi-file"></i></span>
          <input type="text" formControlName="senderEmail" pInputText placeholder="johndoe@example.com">
        </div>
      </div>
    </div>


    <div class="d-flex flex-column mt-3">
      <h5>Asunto</h5>
      <div class="p-inputgroup d-flex w-100">
        <span class="p-inputgroup-addon"><i class="pi pi-comment"></i></span>
        <input type="text" formControlName="subject" pInputText placeholder="Discusión del curso" class="w-100">
      </div>
    </div>

    <div class="d-flex flex-column mt-3">
      <h5>Mensaje</h5>
      <div class="p-inputgroup d-flex w-100">
        <textarea rows="5" cols="30" formControlName="message" pInputTextarea class="w-100"></textarea>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" type="button" (click)="sendMessage();" label="Enviar"
      styleClass="p-button p-button-success"></p-button>
  </ng-template>

</p-dialog>