/* Base project styles */
/* Imports */

@import "_variables";
@import "_utilities";

/* Body */
* {
    font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    transition: all 0.2s;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    transition: all 0.2s;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, $primary-color, darken($primary-color, 20));
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
        background: linear-gradient(180deg, darken($primary-color, 5), darken($primary-color, 10));
    }
} */

/* Positions */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

/* Hide elements */
.hide-sm {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.hide-md {
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

/* Utilities */
.w-sm-100 {    
    @media screen and (max-width: 768px) {
        width: 100% !important;
    }
}

/* Text */
.text-base {
    color: #aaa !important;
}

.text-primary {
    color: #a7e4dc !important;
}

.text-accent {
    color: #6f44bb !important;
}

.bg-primary {
    background-color: #a7e4dc !important;
}

.bg-accent {
    background-color: #6f44bb !important;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}

/* Background */
.bg-gray {
    background-color: #e7e7e7;
}
