@use "sass:map";
 
// Color palette
$primary: (
  50: #f4fcfb,
  100: #e5f7f5,
  200: #d3f2ee,
  300: #c1ece7,
  400: #b4e8e1,
  500: #a7e4dc,
  600: #9fe1d8,
  700: #96ddd3,
  800: #8cd9ce,
  900: #7cd1c5,
  A100: #ffffff,
  A200: #ffffff,
  A400: #f0fffd,
  A700: #d6fff9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent: (
  50: #f5f0f7,
  100: #e5d9ea,
  200: #d4bfdc,
  300: #c2a5ce,
  400: #b592c4,
  500: #a87fb9,
  600: #a077b2,
  700: #976caa,
  800: #8d62a2,
  900: #7d4f93,
  A100: #fbf4ff,
  A200: #eac1ff,
  A400: #d98eff,
  A700: #d074ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
