<div class="banner relative">
  <h1 class="course-title fw-bold">
    Administrador de Cursos
  </h1>
</div>

<div class="bg-gray px-3 py-5 d-flex flex-column">
  <div class="button-group shadow my-3 mx-auto">
    <button type="button" class="button-selector" (click)="viewToggle('view'); getCourses()"
      [ngClass]="{'disabled': view == 'create'}">Ver</button>
    <button type="button" class="button-selector" (click)="viewToggle('create')"
      [ngClass]="{'disabled': view == 'view'}">Crear</button>
  </div>

  <div class="container manager">
    <div *ngIf="view == 'view'">

      <div *ngIf="noCourses">
        <p class="fs-3 text-center mt-5">No tienes cursos creados</p>
        <p class="fs-5 text-center mt-2">Por favor, dirígete a la pestaña de Crear para crear un curso</p>
      </div>

      <!-- Skeleton -->
      <div *ngIf="loading" class="w-100 mt-5">
        <div *ngFor="let skeleton of [0,1,2,3,4,5]">
          <div class="w-100 mb-4">
            <div class="w-100 d-flex">
              <div>
                <p-skeleton width="270px" height="170px"></p-skeleton>
              </div>
              <div class="d-flex flex-column ms-3 mt-3 w-100">
                <div class="w-100">
                  <p-skeleton width="8rem" styleClass="mb-2"></p-skeleton>
                  <p-skeleton width="15rem" height="1.5rem" styleClass="mb-4"></p-skeleton>
                  <div class="d-flex mb-2">
                    <p-skeleton width="10rem" styleClass=""></p-skeleton>
                    <p-skeleton width="4rem" styleClass="ms-2"></p-skeleton>
                    <p-skeleton width="10rem" styleClass="ms-2"></p-skeleton>
                  </div>
                </div>
                <div class="flex justify-content-between mt-3">
                  <p-skeleton width="80%" height="2rem"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!loading">
        <div *ngFor="let course of courses; let i = index"
          class="course-card rounded shadow bg-white d-flex overflow-hidden mt-4 w-100">
          <div *ngIf="course.photoURL == ''" class="w-sm-100">
            <img class="course-img" src="../../../assets/video-placeholder.png" alt="Portada del curso">
          </div>
          <div *ngIf="course.photoURL != ''" class="w-sm-100">
            <img class="course-img" [src]="course.photoURL" alt="Portada del curso">
          </div>
          <div class="p-3 course-content">
            <span class="text-base">
              {{course?.category}}
            </span>

            <div class="w-100 d-flex align-items-center justify-content-between">
              <!-- Title -->
              <h4>
                {{course?.name}}
              </h4>

              <button pButton pRipple type="button" label="" icon="pi pi-pencil"
                class="p-button-outlined p-button-sm rounded" (click)="showDialog(course)"></button>
            </div>

            <!-- Course details -->
            <div class="d-flex flex-wrap">
              <!-- Rating -->
              <div class="d-flex align-items-center">
                <span>{{course?.rating}}</span>
                <p-rating [(ngModel)]="course.rating" [readonly]="true" [cancel]="false"></p-rating>
              </div>

              <!-- Students -->
              <div class="d-flex align-items-center ms-3">
                <span>{{course?.members}} ests.</span>
              </div>

              <!-- Teacher -->
              <div class="d-flex align-items-center ms-3">
                <span class="fw-bold">Por {{course?.author}}</span>
              </div>

              <a [routerLink]="'/courses/detail/' + course.id" class="w-100 d-flex" style="text-decoration: none;">
                <button pButton pRipple type="button" label="Ver detalles"
                  class="p-button-outlined mt-3 px-5 mx-auto rounded"></button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="view == 'create'" class="card shadow py-3 px-4">
      <div class="form-group">
        <h4 class="mb-3">Información básica</h4>

        <form [formGroup]="courseForm" (ngSubmit)="uploadCourse()">

          <div class="input-group d-flex justify-content-between flex-wrap">
            <div class="d-flex flex-column mt-3">
              <h5>Nombre del curso</h5>
              <div class="p-inputgroup d-flex w-100">
                <span class="p-inputgroup-addon"><i class="pi pi-file"></i></span>
                <input type="text" formControlName="name" pInputText
                  placeholder="Ej. Cómo aprender a derivar con estos sencillos métodos">
              </div>
            </div>

            <div class="d-flex flex-column mt-3">
              <h5>Precio del curso</h5>
              <div class="p-inputgroup d-flex w-100">
                <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
                <input type="number" formControlName="price" pInputText placeholder="En divisas extranjeras">
              </div>
            </div>
          </div>

          <div class="d-flex flex-column mt-3">
            <h5>Descripción del curso</h5>
            <div class="p-inputgroup d-flex w-100">
              <textarea rows="5" cols="30" formControlName="description" pInputTextarea class="w-100"
                placeholder="Una descripción, tan breve como gustes, de los contenidos de tu curso"></textarea>
            </div>
          </div>

          <div class="d-flex flex-column mt-3">
            <h5>Portada del curso</h5>
            <input type="file" accept=".jpg,.png,.jpeg" formControlName="price" pInputText class="w-100"
              (change)="onFileSelected($event)">
          </div>

          <div class="d-flex flex-wrap justify-content-between mt-3 input-group">
            <div class="d-flex flex-column mt-3">
              <h5>Categoria</h5>
              <p-dropdown [options]="categories" formControlName="category" optionLabel="name" optionValue="value"
                (onChange)="getSubcategories($event)" [autoDisplayFirst]="false" placeholder="Categoría"
                [ngClass]="'w-100'">
              </p-dropdown>
            </div>

            <div class="d-flex flex-column mt-3">
              <h5>Subcategoria</h5>
              <p-dropdown [options]="subcategories" formControlName="subcategory" optionLabel="name" optionValue="value"
                [autoDisplayFirst]="false" placeholder="Subcategoría" [ngClass]="'w-100'"
                emptyMessage="No se encontraron subcategorías">
              </p-dropdown>
            </div>
          </div>

          <!-- Lessons -->
          <div class="d-flex justify-content-between mt-4">
            <h3>Lecciones</h3>
            <div>
              <button pButton pRipple type="button" icon="pi pi-plus" class="rounded" (click)="addLesson()"></button>
            </div>
          </div>

          <div formArrayName="lessons">
            <div *ngFor="let lesson of lessons().controls; let i = index" [formGroupName]="i"
              class="mt-2 d-flex justify-content-between align-items-end">

              <div class="d-flex flex-wrap justify-content-between w-100">
                <div class="d-flex flex-column lesson-media">
                  <h5>Nombre de la lección {{i + 1}}</h5>
                  <div class="p-inputgroup d-flex w-100">
                    <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
                    <input type="text" formControlName="name" pInputText placeholder="Ej. Derivadas simples">
                  </div>
                </div>

                <div class="d-flex flex-column lesson-media">
                  <h5>URL de la lección {{i + 1}}</h5>
                  <div class="p-inputgroup d-flex w-100">
                    <span class="p-inputgroup-addon"><i class="pi pi-link"></i></span>
                    <input type="text" formControlName="url" pInputText
                      placeholder="Ej. https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  </div>
                </div>

                <div class="d-flex flex-column mt-3">
                  <h5>Archivo de la lección</h5>
                  <input type="file" accept=".pdf,.docx,.pptx" pInputText class="w-100"
                    (change)="onLessonFileSelected(i, $event)">
                </div>
              </div>

              <button pButton pRipple type="button" icon="pi pi-minus"
                class="rounded p-button-outlined p-button-danger h-100 mb-1" (click)="removeLesson(i)"></button>

            </div>
          </div>

          <div class="w-100 mt-3 d-flex justify-content-center">
            <button pButton pRipple type="submit" icon="pi pi-check" label="Enviar" class="rounded mt-3"></button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Editar Cursos" [(visible)]="display" [modal]="true" [breakpoints]="{'960px': '75vw'}"
  [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">

  <form [formGroup]="editCourseForm" (ngSubmit)="uploadCourse()">
    <div class="input-group d-flex justify-content-between flex-wrap">
      <div class="d-flex flex-column mt-3">
        <h5>Nombre del curso</h5>
        <div class="p-inputgroup d-flex w-100">
          <span class="p-inputgroup-addon"><i class="pi pi-file"></i></span>
          <input type="text" formControlName="name" pInputText
            placeholder="Ej. Cómo aprender a derivar con estos sencillos métodos">
        </div>
      </div>

      <div class="d-flex flex-column mt-3">
        <h5>Precio del curso</h5>
        <div class="p-inputgroup d-flex w-100">
          <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
          <input type="number" formControlName="price" pInputText placeholder="En divisas extranjeras">
        </div>
      </div>
    </div>

    <div class="d-flex flex-column mt-3">
      <h5>Descripción del curso</h5>
      <div class="p-inputgroup d-flex w-100">
        <textarea rows="5" cols="30" formControlName="description" pInputTextarea class="w-100"></textarea>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-between mt-3 input-group">

      <div class="d-flex flex-column mt-3">
        <h5>Categoria</h5>
        <div class="p-inputgroup d-flex">
          <p-dropdown [options]="categories" formControlName="category" optionLabel="name" optionValue="value"
            (onChange)="getSubcategories($event)" [autoDisplayFirst]="false" placeholder="Categoría"
            [ngClass]="'w-100'">
          </p-dropdown>

        </div>
      </div>

      <div class="d-flex flex-column mt-3">
        <h5>Subcategoria</h5>
        <div class="p-inputgroup d-flex">
          <p-dropdown [options]="subcategories" formControlName="subcategory" optionLabel="name" optionValue="value"
            [autoDisplayFirst]="false" placeholder="Subcategoría" emptyMessage="No se encontraron subcategorías"
            [ngClass]="'w-100'">
          </p-dropdown>
        </div>
      </div>
    </div>

    <!-- Lessons -->
    <div class="d-flex justify-content-between mt-4">
      <h3>Lecciones</h3>
      <div>
        <button pButton pRipple type="button" icon="pi pi-plus" class="rounded" (click)="editAddLesson()"></button>
      </div>
    </div>

    <div>
      <app-edit-lessons formControlName="lessons"></app-edit-lessons>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" type="button" (click)="updateCourse(editCourseForm.value.id);" label="Editar Cursos"
      styleClass="p-button-text p-button-success"></p-button>
  </ng-template>
</p-dialog>