<div class="relative course-banner">
  <h1 class="course-title fw-bold">
    Listado de cursos
  </h1>
</div>

<div class="course-list">
  <div class="container px-2 py-4 d-flex justify-content-between flex-wrap">
    <div class="col-md-3 col-sm-12 mb-4">
      <div class="rounded shadow bg-white p-3">
        <h4 class="fw-bold">
          Categorías
        </h4>
        <p-tree [value]="nodes">
          <ng-template let-node pTemplate="url">
            <a [href]="node.data">{{node.label}}</a>
          </ng-template>
          <ng-template let-node pTemplate="default">
            <b>{{node.label}}</b>
          </ng-template>
        </p-tree>
      </div>
    </div>

    <div class="col-md-8 col-sm-12">
      <p-dataView [value]="courses" [paginator]="true" [rows]="10" filterBy="name">

        <ng-template pTemplate="header">
          <div class="d-flex justify-content-end bg-transparent pb-4">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </ng-template>

        <ng-template let-course pTemplate="listItem" style="background: transparent;">
          <!-- List template -->
          <div class="rounded shadow bg-white d-flex overflow-hidden flex-wrap mb-4 w-100">
            <img class="course-img" [src]="course.img + '?' + course.id" alt="">
            <div class="p-3 course-content">
              <span class="text-base">
                Curso
              </span>

              <!-- Title -->
              <h4>
                {{course.name}}
              </h4>

              <!-- Course details -->
              <div class="d-flex flex-wrap">
                <!-- Rating -->
                <div class="d-flex align-items-center">
                  <span>{{course.rating}}</span>
                  <p-rating [(ngModel)]="course.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>

                <!-- Students -->
                <div class="d-flex align-items-center ms-3">
                  <span>{{course.students}} ests.</span>
                </div>

                <!-- Teacher -->
                <div class="d-flex align-items-center ms-3">
                  <span class="fw-bold">Por {{course.teacher}}</span>
                </div>

                <a [routerLink]="'/courses/detail/' + course.id" class="w-100">
                  <button pButton pRipple type="button" label="Ver detalles"
                    class="p-button-outlined mt-3 w-100"></button>
                </a>
              </div>
            </div>
          </div>
          <!-- / List template -->
        </ng-template>

        <ng-template let-course pTemplate="gridItem"
          style="background: transparent; display: flex; flex-wrap: wrap; justify-content: space-evenly;">
          <!-- Grid template -->
          <div class="bg-white rounded shadow overflow-hidden mb-3 grid-card">
            <img style="width: 100%;" [src]="course.img + '?' + course.id" alt="">
            <div class="p-3 d-flex flex-column justify-content-between grid-card-content">
              <div>
                <span class="text-base">
                  Curso
                </span>

                <!-- Title -->
                <h5 class="course-name">
                  {{course.name}}
                </h5>
              </div>

              <!-- Course details -->
              <div class="d-flex flex-column">
                <!-- Rating -->
                <div class="d-flex align-items-center">
                  <span class="me-1">{{course.rating}}</span>
                  <p-rating [(ngModel)]="course.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>

                <!-- Students -->
                <div class="d-flex align-items-center">
                  <span>{{course.students}} estudiantes</span>
                </div>

                <!-- Teacher -->
                <div class="d-flex align-items-center">
                  <span class="fw-bold" style="font-size: .95rem;">Por {{course.teacher}}</span>
                </div>

                <a [routerLink]="'/courses/detail/' + course.id">
                  <button pButton pRipple type="button" label="Ver detalles" class="p-button-outlined mt-3"></button>
                </a>
              </div>
            </div>
          </div>
          <!-- / Grid template -->
        </ng-template>
      </p-dataView>

    </div>
  </div>
</div>